* {
  box-sizing: border-box !important;
}

html,
body {
  text-rendering: optimizeSpeed !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 100% !important;
  width: 100% !important;
}
