* {
  box-sizing: border-box;
}

html,
body {
  text-rendering: optimizeSpeed;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #3e3e3f;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

.ant-drawer-content-wrapper {
  width: 75% !important;
}

.ant-drawer-content {
  background: #3e3e3f !important;
}

.ant-drawer-body {
  padding: 0 !important;
}

.container-user {
  background: #000;
}

.user-profile {
  display: flex;
  height: 95px;
  gap: 14px;
  align-items: center;
  padding: 12px;
  border-bottom: solid 1px #fff;
}

.login-content {
  display: flex;
  flex-direction: column;
}

.login-text-above {
  font-size: 15px;
  color: #fff;
  font-weight: 700;
}

.login-text-below {
  padding-top: 6px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  font-family: 'Helvetica Neue';
}

.image-style {
  width: 50px;
  height: 50px;
}

.thumbnail-header {
  border-bottom: solid 1px #fff;
}

.thumbnail-children {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-children {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
}

.right-children-icon {
  width: 30px;
  height: 30px;
}

.thumbnail-icon {
  width: 20px;
  height: 26px;
}

.thumbnail-text {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}
